<!DOCTYPE html>
<html lang="en">
<head>
    {{>link}}
</head>
<body>
    {{>header}}
    <div class="containerabout">
        <div class="imgabout">
            <img src="images/bg2.png" alt="images">
        </div>
        <div class="contentabout">
            <h1>I am full stack devloper</h1>
            <p>for more information about me please visit my facebook page</p>
            <button><a href="http://www.facebook.com" target="_main">visit</a></button>
        </div>
    </div>
    {{>footer}}

</body>
</html>