<!DOCTYPE html>
<html lang="en">
<head>
    {{>link}}
</head>
<body>
    {{>header}}
    <div class="container">
        <div class="content">
            <h1>welcome our website</h1>
            <p>check wheather please click the check button</p>
            <button><a href="/wheather">check</a></button>
        </div>
        <div class="img">
            <img src="images/bg1.webp" alt="images">
        </div>
    </div>

    {{>footer}}
</body>
</html>