    <header>
        <nav>
            <ul>
                <li><i class="fa-solid fa-snowflake" style="color: blue;"></i>Raviwheather<i class="fa-solid fa-snowflake" style="color: blue;"></i></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/wheather">Wheather</a></li>
            </ul>
        </nav>
    </header>